*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    text-align: center;
    color: white;
    font-family: calibri light;

    user-select: none;
}
html, body, main
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: black;

    overflow: hidden;
}
#calendar
{
    width: 80%;
    height: 90%;
}
header
{
    width: 100%;
    height: 4%;
}
section
{
    width: 100%;
    height: 96%;

    overflow-x: hidden;
    overflow-y: auto;
}
section::-webkit-scrollbar 
{
    width: 0;
}
#week
{
    display: flex;
    justify-content: center;
    float: left;

    position: relative;

    width: 5.5%;
    height: 100%;
}
.icon-calendar-inv
{
    position: absolute;
    top: 3%;

    color: rgb(175, 175, 175);
    font-size: 2.5vmin;
}
.icon-calendar-inv:hover
{
    color: rgb(230, 230, 230);
}
#hours
{
    position: relative;

    display: flex;
    justify-content: center;
    float: left;
    overflow-y: auto;
    
    width: 5.5%;
    height: 1600px;

    font-size: 1.5vmin;
}
.day
{
    display: flex;
    justify-content: center;
    float: left;

    width: 13.5%;

    border: solid black 2px;
    border-radius: 5px;
}
.dayName
{
    align-items: center;

    height: 100%;

    font-weight: bold;
    font-size: 2vmin;

    background-color: #009999;
}
.time
{
    position: absolute;
}
.plan
{
    position: relative;

    height: 1600px;
    
    background-color: rgb(16, 16, 16);
}
.plan:hover
{
    background-color: rgb(10, 10, 10);
}
.hourLines
{
    position: absolute;

    width: 94%;
    height: 1px;

    background-color: rgb(100, 100, 100);
    border-radius: 5px;
}
#sideBox
{
    display: flex;
    flex-direction: column;

    top: 0;
    right: 0;

    background-color: #009999;
}
.side
{
    /* display: flex;
    align-items: center;

    right: -90px;

    position: fixed;
    transition: 1s;

    width: 120px;
    height: 3%; */

    background-color: #8a109f;
    border-radius: 5px 0 0 5px;
}
/* .side:hover
{
    right: 0;
    
    transition: 0.5s;
} */
/* .side > span:first-of-type
{
    left: 0;

    width: 30px;
}
.side > span:last-of-type
{
    width: 90px;
    
    font-size: 1.5vmin;
    font-style: normal;
    font-weight: bold;
} */
/* .side > i
{
    font-size: 1.5vmin;
}
#logOut
{
    top: 2%;
}
#note
{
    top: 8%;
}
#daily
{
    top: 14%;
}
#todo
{
    top: 20%;
} */
.note
{
    position: absolute;

    width: 90%;

    border-radius: 5px;
}



