*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    text-align: center;
    color: white;
    font-family: calibri light;

    user-select: none;
}
html, body, main
{
    width: 100vw;
    height: 100vh;

    background-color: black;

    overflow: hidden;
}
main
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#calendar
{
    width: 80%;
    height: 90%;
}
header
{
    width: 100%;
    height: 4%;
}
section
{
    width: 100%;
    height: 96%;

    overflow-x: hidden;
    overflow-y: auto;
}
section::-webkit-scrollbar 
{
    width: 0;
}
#week
{
    display: flex;
    justify-content: center;
    float: left;

    position: relative;

    width: 5.5%;
    height: 100%;
}
.icon-calendar-inv
{
    position: absolute;
    top: 3%;

    color: rgb(235, 235, 235);
    /* color: rgb(175, 175, 175); */
    font-size: 2.5vmin;
}
/* .icon-calendar-inv:hover
{
    color: rgb(230, 230, 230);
} */
#hours
{
    position: relative;

    display: flex;
    justify-content: center;
    float: left;
    overflow-y: auto;
    
    width: 5.5%;
    height: 1600px;

    font-size: 1.5vmin;
}
.day
{
    display: flex;
    justify-content: center;
    float: left;

    width: 13.5%;

    border: solid black 2px;
    border-radius: 5px;
}
.dayName
{
    align-items: center;

    height: 100%;

    font-weight: bold;
    font-size: 2vmin;

    background-color: rgb(100, 0, 0);
    /* background-color: #009999; */
}
.time
{
    position: absolute;
}
.plan
{
    position: relative;

    height: 1600px;
    
    background-color: rgb(16, 16, 16);
}
.plan:hover
{
    background-color: rgb(10, 10, 10);
}
.hourLines
{
    position: absolute;

    width: 94%;
    height: 1px;

    background-color: rgb(100, 100, 100);
    border-radius: 5px;
}
#sideBox
{
    position: absolute;
    
    top: 1%;
    right: 0%;

    width: 12%;
}
.side
{
    display: flex;

    position: relative;
    right: -80%;

    height: 3vh;
    width: 100%;

    font-weight: bold;

    margin-top: 15%;
    background-color: olive;
    /* background-color: #8a109f; */
    border-radius: 5px 0 0 5px;

    transition: 1s;
}
.side:hover
{
    right: 0;
    
    transition: 0.5s;
}
.side > i
{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 20%;
    height: 100%;

    font-size: 1.5vh;
}
.side > span
{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    right: 0;

    width: 80%;
    height: 100%;
}
.note
{
    position: absolute;

    width: 90%;

    border-radius: 5px;
}
