*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    text-align: center;
    background-color: black;
    color: white;
    font-family: calibri light;
}
html, body, main
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}
#calendar
{
    width: 80%;
    height: 83%;
}
header
{
    width: 100%;
    height: 4%;
}
section
{
    width: 100%;
    height: 96%;

    overflow-x: hidden;
    overflow-y: auto;

    border: solid rgb(175, 175, 175) 1px;
}
section::-webkit-scrollbar 
{
    width: 0;
}
#week
{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    
    width: 5.5%;
    height: 100%;
}
#hours
{
    position: relative;

    display: flex;
    justify-content: center;
    float: left;
    overflow-y: auto;
    
    width: 5.5%;
    height: 200%;

}
.day
{
    display: flex;
    justify-content: center;
    float: left;

    width: 13.5%;
    height: 200%;

    border: solid rgb(175, 175, 175) 1px;
}
.dayName
{
    align-items: center;

    height: 100%;

    font-weight: bold;
    font-size: 2vmin;
}
.plan
{
    position: relative;

    height: 200%;
}
.hourLines
{
    position: absolute;

    width: 80%;
    height: 1px;

    background-color: rgb(89, 89, 89);
    border-radius: 5px;
}